{% extends 'base.html.twig' %}

{% block title %} Modifier le moment d'intervention{% endblock %}

{% block content %}
    <a class="btn" href="{{ path('app_intervention_index') }}">Retour</a>
    <h1>Modifier le moment d'intervention</h1>

    {{ include('intervention/_form.html.twig', {'button_label': 'Update'}) }}


  
{% endblock %}
