{% extends 'base.html.twig' %}

{% block title %}Modifier une intervention{% endblock %}

{% block body %}

    <a class="btn btn-dark mb-2" href="{{ path('app_intervention_index') }}">Retour</a>
        <h1 class="mt-2">Modifier une intervention</h1>
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('intervention/_form.html.twig', {'button_label': 'Modifier'}) }}
    {% endif %}

{% endblock %}