{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}

<a class="btn btn-dark" href="{{ path('app_intervention_new') }}">Ajouter</a>

    <h1 class="mt-2">Intervention</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Intervention</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.moment }}</td>
                <td> 
                <a class="btn btn-primary mb-1" href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">Modifier</a>
                {{ include('intervention/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune intervention trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}