{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau moment d'intervention{% endblock %}

{% block content %}
    <a class='btn' href="{{ path('app_intervention_index') }}">Retour</a>
    <h1>Ajouter un nouveau moment d'intervention</h1>

    {{ include('intervention/_form.html.twig') }}

{% endblock %}
