{% extends 'base.html.twig' %}

{% block title %}modification de fréquence{% endblock %}

{% block body %}
    <h1>Modification du type de la fréquence   <a  class='btn' href="{{ path('app_frequency_index') }}">retour</a></h1>

    {{ include('frequency/_form.html.twig', {'button_label': 'modifier'}) }}

   

    
{% endblock %}
