{% extends 'base.html.twig' %}

{% block title %}Edit Recruitment{% endblock %}

{% block body %}
    <a class="btn" href="{{ path('app_recruitment_index') }}">retour</a>
    <h1>Modifier une annonce</h1>

    {{ include('recruitment/_form.html.twig', {'button_label': 'modifier'}) }}


    {{ include('recruitment/_delete_form.html.twig') }}
{% endblock %}
