{% extends 'base.html.twig' %}

{% block title %}Modifier une annonce{% endblock %}

{% block body %}

    <a class="btn btn-dark" href="{{ path('app_recruitment_index') }}">Retour</a>
        <h1 class="mt-2">Modifier une annonce</h1>
    {{ include('recruitment/_form.html.twig', {'button_label': 'modifier'}) }}

{% endblock %}
