{% extends 'base.html.twig' %}

{% block title %}New Recruitment{% endblock %}

{% block body %}
    <a class='btn' href="{{ path('app_recruitment_index') }}">retour</a>
    <h1>Créer une nouvelle annonce</h1>

    {{ include('recruitment/_form.html.twig') }}

{% endblock %}
