{% extends 'base.html.twig' %}

{% block title %}New PersonalAssistance{% endblock %}

{% block body %}
    <h1>Create new PersonalAssistance</h1>

    {{ include('personal_assistance/_form.html.twig') }}

    <a href="{{ path('app_personal_assistance_index') }}">back to list</a>
{% endblock %}
