{% extends 'base.html.twig' %}

{% block title %} Ajouter un nouveau type d'aide{% endblock %}

{% block body %}
    <a class="btn" href="{{ path('app_personal_assistance_index') }}">Retour</a>
    <h1>Ajouter un nouveau type d'aide</h1>

    {{ include('personal_assistance/_form.html.twig') }}

{% endblock %}
